@import 'base/variables.scss';
@import 'base/animations.scss';
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advant.scss';
@import 'blocks/consultation.scss';
@import 'blocks/titles.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/review.scss';
@import 'blocks/footer.scss';
@import 'blocks/modal.scss';
@import 'blocks/pageup.scss';
@import 'blocks/googlemap.scss';
