.carousel{
    padding: 81px 0;
    &__inner{
        width: 750px;
        margin: 0 auto;
        position: relative;
        
    }
    .slick-prev, .slick-next {
        border: none;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        img{
        width: 31px;
        height: 50px;
        }
    }

     .slick-next{
        right: -66px;
        left: auto;
    }
    .tns-item{
        img{
            display: block;
            margin: 0 auto;
        }
    } 
}
